body, html{
    margin: 0;
    padding: 0;
    border: 0;
}
body{
    background-color:rgb(235, 204, 255);
}
.NunitoFont{
    font-family: "Nunito", sans-serif;
    font-style: normal;
    font-weight: bold;
}
.name{
    display: flex;
    justify-content:center;
}
.search-container{
    display: flex;
    justify-content:center;
}
.searchBut{
    width: 40px;
    padding-left: 20px;
}
header{
    background-color: rgb(174, 135, 222);
    padding-bottom: 35px;
}
#search-input{
    border-radius:10px;
    padding: 10px;
}
.cards{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}



.footer{
    background-color:rgb(174, 135, 222);
    height: 100px;
    padding: 20px;
}
.cover{
    height: 200px;
}
.card{
    background-color:white;
    margin: 10px;
    display: flex;
    width: 350px;
    height: 550px;
    align-content: space-around;
    justify-content: center;
    align-items: center;
}
.bookname, .authors, .category{
    width: 250px;
    text-align: center;
}
.card>div{
    display: flex;
    align-items:center;
    flex-direction: column;
}
.input-container {
    display: flex;
    overflow: hidden;
}

#search-input {
    flex-grow: 1;
    border: none;
    padding: 5px;
}

.input-button {
    border: none;
    background-color: #ccc;
    padding: 5px 10px;
    cursor: pointer;
    margin-left: -25px;
    background-color:transparent;
    color:red;
}
